.player__progress-input {
  width: 100%;
  padding: .9rem 0;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.player__progress-input::-webkit-slider-runnable-track {
  background-color: #1E5A32;
  border: none;
  border-radius: 2rem;
  height: .6rem;
}

.player__progress-input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  margin-top: -.9rem;
  width: 1.2rem;
  height: 2.4rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.25);
  border-radius: 3rem;
  border: .2rem solid transparent;
  transition: border .2s ease-in;
}

.player__progress-input:hover::-webkit-slider-thumb,
.player__progress-input:focus::-webkit-slider-thumb {
  border: .2rem solid #4E4E4E;
}