.catalog__wrap {
  margin: 0 auto;
  width: 123.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 19.6rem);
  justify-content: center;
  gap: 0.4rem;
  margin-bottom: 1.6rem;
}

@media (max-width: 47.9375em) { /* Ширина экрана от 320px до 767px */
  .catalog__wrap {
    margin: 0 auto;
    width: 59.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 29.6rem);
    gap: 0.4rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) { /* Ширина экрана от 768px до 1023px */
  .catalog__wrap {
    margin: 0 auto;
    width: 119.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 39.2rem);
    gap: 0.4rem;
  }
}

@media (min-width: 64em) and (max-width: 79.9375em) { /* Ширина экрана минимум 1024px максимум 1279px */
  .catalog__wrap {
    margin: 0 auto;
    width: 99.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 19.6rem);
    gap: 0.4rem;
  }
}
