@import "./__artist/__artist.css";
@import "./__cover/__cover.css";
@import "./__title/__title.css";

.track {
  position: relative;
  padding: 0.6rem;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 2rem;
  transition: border-color .2s ease-in, background-color .2s ease-in;
}

.track--active {
  border-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.5);
}


.track::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  top: 9.5rem;
  left: 50%;
  transform: translateX(-50%) rotateY(90deg);
  background: rgba(255, 255, 255, 0.8) url("./img/play.svg") no-repeat center;
  transition: transform .3s ease-in;
}

.track--active::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  top: 9.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8) url("./img/pause.svg") no-repeat center;
}

.track--active.track--active-pause::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  top: 9.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8) url("./img/play.svg") no-repeat center;
}

.track:hover.track::after {
  transform: translateX(-50%) rotateY(0);

}
.track:hover.track,
.track:active.track,
.track:focus.track {
  border-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.5);
}

.track:active.track::after {
  transform: translateX(-50%) rotate(0) scale(1.3);
}

.track:focus.track::after {
  border-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateX(-50%) rotate(0);

}
.track:active.track::after {
  transform: translateX(-50%) rotate(0) scale(1.3);
}

@media (max-width: 47.9375em) { /* Ширина экрана от 320px до 767px */
  .track {
    padding: 1.2rem;
    border: .4rem solid transparent;
    border-radius: 2.4rem;
    transition: border-color .2s ease-in, background-color .2s ease-in;
  }

  .track::after {
    content: "";
    position: absolute;
    display: block;
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%) rotateY(90deg);
    background: rgba(255, 255, 255, 0.8) url("./img/play.svg") no-repeat center;
    transition: transform .3s ease-in;
  }
  
  .track--active::after {
    content: "";
    position: absolute;
    display: block;
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8) url("./img/pause.svg") no-repeat center;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) { /* Ширина экрана от 768px до 1023px */
  .track {
    padding: 1.2rem;
    border: .4rem solid transparent;
    border-radius: 2.4rem;
    transition: border-color .2s ease-in, background-color .2s ease-in;
  }
}
