.search__button {
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
  width: 2.4rem;
}

@media (max-width: 47.9375em) { /* Ширина экрана от 320px до 767px */
  .search__button {
    width: 4.8rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) { /* Ширина экрана от 768px до 1023px */
  .search__button {
    width: 4.8rem;
  }
}
