.player__time {
  font-size: 1.4rem;
  display: flex;
  gap: .4rem;
}

@media (max-width: 47.9375em) { /* Ширина экрана от 320px до 767px */
  .player__time {
    font-size: 2.4rem;
    gap: .4rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) { /* Ширина экрана от 768px до 1023px */
  .player__time {
    font-size: 2.8rem;
    gap: .8rem;
  }
}
