.player__icon--prev {
  border: .2rem solid transparent;
}

.player__icon--prev:hover,
.player__icon--prev:active,
.player__icon--prev:focus {
  color: #343434;
  border: .2rem solid #343434;
  border-radius: .5rem;
}