.track__title {
  display: block;
  background-color: #FFFFFF;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1.4rem .8rem .6rem;
}

@media (max-width: 47.9375em) { /* Ширина экрана от 320px до 767px */
  .track__title {
    font-size: 2.8rem;
    padding: 1.6rem 1.6rem .8rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) { /* Ширина экрана от 768px до 1023px */
  .track__title {
    font-size: 3.2rem;
    padding: 2.8rem 1.6rem 1.2rem;
  }
}
