.player__controller {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

@media (max-width: 47.9375em) { /* Ширина экрана от 320px до 767px */
  .player__controller {
    gap: 3rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) { /* Ширина экрана от 768px до 1023px */
  .player__controller {
    gap: 3rem;
  }
}
