.player__icon--play {
  border: .2rem solid transparent;
}

.player__icon--mute-play:hover,
.player__icon--mute-play:active,
.player__icon--mute-play:focus {
  color: #343434;
  border: .2rem solid #343434;
  border-radius: .5rem;
}

@media (max-width: 47.9375em) { /* Ширина экрана от 320px до 767px */
  .player__icon--mute-play:hover,
  .player__icon--mute-play:active,
  .player__icon--mute-play:focus {
    border: .4rem solid #343434;
    border-radius: 1rem;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) { /* Ширина экрана от 768px до 1023px */
  .player__icon--mute-play:hover,
  .player__icon--mute-play:active,
  .player__icon--mute-play:focus {
    border: .4rem solid #343434;
    border-radius: 1rem;
  }
}
